
body {

  font-family: 'Inter', sans-serif;
  background: linear-gradient(to bottom right, #f2f2f2, #fff7e0);



}

.hero {
  text-align: center;
  margin: 15% 0% 20% 0%;
}



.hero-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #111;
  line-height: 1.2;
}

.logo-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.3em;
  font-size: 2.2rem;
}


.centrage-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.cta-button {
  margin-top: 2rem;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  font-weight: bold;

  color: white;
  border-radius: 999px;

  cursor: pointer;
  width: 240.02px;
  height: 62.66px;
  border: none;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}


.cta-button:hover {
  background: #333;
  transition: 0.5s;
}

.cta-button .span-mother {
  display: flex;
  overflow: hidden;
}

.cta-button:hover .span-mother {
  position: absolute;
}

.cta-button:hover .span-mother span {
  transform: translateY(11.2em);
}

.cta-button .span-mother span:nth-child(1) {
  transition: 0.5s;
}



.cta-button .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

.cta-button .span-mother2 span {
  transform: translateY(-1.2em);
}

.cta-button:hover .span-mother2 span {
  transform: translateY(0);
}

.cta-button .span-mother2 span {
  transition: 0.5s ease;
}


/*

.contenu-title{
    margin: 30% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;

}

.contenu-title h1{

    font-size: 4em;

    background-image: linear-gradient(
      135deg,
      #ff3c00 0%,
      #ff8c00 25%,
      #ff8c00 75%,
      #ff3c00 100%
    );


    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
   


}

#span-icon-logoMinesweeper{
    display: inline-block;
    width: 90px;
    height: 90px;

    vertical-align:middle;
    background-size: contain;
    background-image: url(/img/logo_minesweeper.png);
    background-repeat: no-repeat;

}





*/