/*================================================================================================*/
/*== [ COMPORTEMENT DE BASE ] ======================================================*/
/*================================================================================================*/

.options {
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 2%;
  top: 3%;
  z-index: 6;
}

/*== [ VOLUME ] ==*/
.volume {
  background-color: rgba(0, 0, 0, 0);
  padding: 2% 4%;
  color: white;
  border-radius: 5%;
}

.volume {
  border: dashed rgba(155, 153, 153, 0);
  transition: all 0.5s ease;
}

.volume-container {
  display: none;
  position: absolute;
  align-items: center;
  gap: 1rem;
  width: 200px;
}

input[type="range"] {
  width: 150px;
  cursor: pointer;
  appearance: none;
  background: rgb(155, 153, 153, 1);
  height: 6px;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: none;
  border-radius: 50%;
}
/* btn*/

button#enable-sound {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  font-size: 20px;
  font-weight: 1000;
  color: white;
  background-color: transparent;

  width: 250px;
  padding: 0.8em 1.6em;

  border: dashed rgba(155, 153, 153, 0); 
  border-radius: 15px;
  cursor: pointer;

  overflow: hidden;
  text-wrap: nowrap;
  isolation: isolate;

  transition: border-color 0.5s ease;
}

button#enable-sound:hover {
  transition: all 0.5s step-end;
  padding: 0.8em 1.6em;
}

button#enable-sound .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  margin-right: 7%;

  padding: 0;

  line-height: 1;
  vertical-align: middle;
  pointer-events: none;

  background-color: #c4c6c700;
  opacity: 1;
  z-index: 2;

  transition: opacity 0.5s ease-in-out, left 0.5s ease-in-out,
    background-color 0.5s ease;
}

.svg-wrapper svg {
  width: 30px;
  height: auto;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

button#enable-sound span {
  color: rgb(155, 153, 153);
  z-index: 1;
  font-family: "Manrope", sans-serif;
  font-weight: 650;
}

/*== [ MASQUE ] ==*/

button#enable-sound::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: translate(0%, 0%);
  opacity: 0;
  z-index: 1;

  background: radial-gradient(
    100px circle at var(--x) var(--y),
    rgba(155, 153, 153, 1) 0%,
    rgba(155, 153, 153, 1) 50%,
    rgba(155, 153, 153, 1) 51%,
    transparent 0%
  );

  transition: all 0.8s ease;
}



button#enable-sound:hover::before {
  opacity: 1;
}

button#enable-sound .bg-reveal {
  position: absolute;
  inset: 0;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;

  mask-image: radial-gradient(
    100px circle at var(--x, -100px) var(--y, -100px),
    black 0%,
    black 20%,
    transparent 60%
  );
  -webkit-mask-image: radial-gradient(
    100px circle at var(--x, -100px) var(--y, -100px),
    black 0%,
    black 20%,
    transparent 60%
  );
  mask-repeat: no-repeat;
  transition: mask-image 0.8s ease;
}

button#enable-sound .bg-reveal svg {
  fill: white;
  position: absolute;
  left: 40%;
  transform-origin: center;
}

.slash {
  stroke-dasharray: 250;
  stroke-dashoffset: 0;
  transition: all 0.5s ease;
  opacity: 1;
}
/*================================================================================================*/
/*== [ PREMIERE PARTIE DE L ANIMATION ] =========================================================*/
/*================================================================================================*/
.volume.one .bg-reveal {
  mask-image: radial-gradient(
    400px circle at var(--x) var(--y),
    black 0%,
    black 100%
  );
  transform-origin: 50% 50%;
  transition: mask-image 0.8s ease-out;
}

.volume.one button#enable-sound::before {
  transform: translate(0%, 0%) scale(5);
  transform-origin: var(--x) var(--y);
  opacity: 1;
}

/*================================================================================================*/
/*== [ DEUXIEME PARTIE DE L ANIMATION ] =============================================================*/
/*================================================================================================*/

.volume.two .bg-reveal {
  mask-image: radial-gradient(
    600px circle at var(--x, var(--x)) var(--y, var(--y)),
    black 0%,
    black 99%,
    black 100%
  );
  transition: mask-image 0.8s ease-out;
}

/*================================================================================================*/
/*== [ TROISIEME PARTIE DE L ANIMATION ] =====================================================================*/
/*================================================================================================*/

.volume.three svg .slash {
  stroke-dashoffset: 250;
  opacity: 0;
}

/*================================================================================================*/
/*== [ QUATRIEME PARTIE DE L ANIMATION ] =========================================================================*/
/*================================================================================================*/
.volume.four button#enable-sound #div_mask {
  position: absolute;
  inset: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  background: rgb(155, 153, 153) !important;
  animation: phorm 0.8s forwards;
}

.volume.four button#enable-sound #div_mask svg {
  position: absolute;
  transform: scale(100%) translateY(1120%);
  opacity: 0;
  fill: rgb(255, 255, 255);
  transition: all 0.8s ease-in-out;
}

@keyframes phorm {
  0% {
    transform: scaleX(1) scaleY(1) translateY(0);
    transform-origin: left left;
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
  }
  100% {
    transform: translateX(-25px) scaleX(0.6) scaleY(0.05) translateY(0);
    opacity: 0;
  }
}

.volume.four button#enable-sound::before {
  display: none !important;
}

/*================================================================================================*/
/*== [ CINQUEME PARTIE DE L ANIMATION ] ==============================================*/
/*================================================================================================*/

.volume.five button#enable-sound .svg-wrapper {
  left: 60%;
}

.volume.five {
  border: dashed rgb(155, 153, 153, 1);
}

.volume.five .volume-container {
  display: flex;
}

/*================================================================================================*/
/*== [ RESPONSIVE DESIGN] ==============================================*/
/*================================================================================================*/

@media screen and (max-width: 1250px) {
  .options {
    position: fixed;
    display: flex;
    flex-direction: row;
    right: 7%;
    top: 90%;
    z-index: 6;
  }

  /*== [ VOLUME ] ==*/
  .volume {
    background-color: rgba(0, 0, 0, 0);
    padding: 2% 4%;
    color: white;
  }
  button#enable-sound {
    width: clamp(200px, 35vw, 250px);
    height: clamp(50px, 15vw, 70px);
  }
}
