*{
    margin:0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  

body {
font-family: 'Manrope', sans-serif;
font-size: 1em;
background: linear-gradient(to bottom right, #f2f2f2, #fff7e0);
background-repeat: no-repeat;
background-size: cover; 
background-attachment: fixed; 
}